.carousel-control-next,
.carousel-control-prev {
    background-color: pink;
    width: 6%;
}


/* sazlamalar html */

#users {
    width: 100%;
}

#users,
th,
td {
    border: 1px solid rgb(215, 215, 215);
}

#users td,
#users th {
    padding: 5px;
}


/* sign up html */

#sign-up .invalid-feedback {
    /* display: block; */
    font-size: .75em;
}


/* shopping html */

.area {
    background-image: url(../img/bg.jpg);
}

.area img {
    width: 100%;
    margin-bottom: 10px;
}

.area p {
    font-size: 14px;
    margin: 0;
}

.w-20 {
    width: 20%;
}

.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.567);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.popup .popup-box {
    height: 93%;
    background-color: #c5ceff;
    border-radius: 7px;
    overflow: auto;
    position: relative;
}

.item-img {
    width: 33%;
    height: auto;
    border-radius: 5px;
}

.popup .icon {
    position: absolute;
    right: 7px;
    top: 0px;
    z-index: 1000;
}

.bi-x-circle {
    font-size: 22px;
}

.bi-x-circle:hover {
    color: white;
}